body {
  padding: 0px;
  margin: 0px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5em;
  font-weight: bolder;
}

h2 {
  font-size: 2.5em;
}

button {
  font-size: 1.5rem;
  padding: 0.3rem 0.6rem;
}

.pb-1_5 {
  padding-bottom: 1.5rem;
}

.event-item p {
  font-size: 2rem;
}

hr {
  border: 1.5px solid black;
  width: 100%;
}

.filter input {
  font-size: 1.2rem;
  padding: 0.4rem;
  color: gray;
}

.filter input:first-child {
  margin-right: 0.2rem;
}
.filter input:last-child {
  margin-left: 0.2rem;
}
